@model FussballTippApp.Models.SpieltagModel

@{
    ViewBag.Title = "Tippen";
}

@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {

            $("input:radio[name*=rb]").click(function () {
                var jsonData = JSON.parse(this.value);

                $.ajax({
                    url: "/Home/SetMatchTipp",
                    type: "POST",
                    context: this,
                    data: jsonData,
                    dataType: 'json',
                    success: function (result) {
                        $('.errMsg').remove();
                        if (result.Success == false) {
                            $('#body').prepend('<div class="errMsg">' + result.Error + '</div>');
                        }
                        else {
                            $('#odds' + result.MatchId).text(result.MyOdds);
                        }
                    },
                    error: function (e) {
                        $('#body').prepend('<div class="errMsg">' + e.statusText + '</div>');
                    }
                });
            });

        });
</script>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    if (Model.IsTippSpielFinished == true)
    {
        <h3>Das Tippspiel ist beendet - Gratulation an Dieter und bis bald im neuen Jahr!</h3>
        return;
    }

        <div style="float:right;">
        @Html.DropDownList("Spieltag", null, new { onchange = "$(this).closest('form').submit();" })
    </div>
    <br style="clear: both"/>
    
    <h3>Spieltag @Model.Spieltag.ToString()</h3>

    <table class="MatchLister">
    <tr>
        <th colspan="4">Teams</th>
        <th>Score</th>
        <th>Odds</th>
        <th>1</th>
        <th>X</th>
        <th>2</th>
        <th>My Odds</th>
        <th>My Points</th>
    </tr>
    @foreach (var m in Model.Matchdata)
    {
        <tr>
            <td><img alt="" src="@m.HomeTeamIcon" style="max-width:35px"/></td><td>@m.HomeTeam</td>
            <td><img alt="" src="@m.AwayTeamIcon" style="max-width:35px"/></td><td>@m.AwayTeam</td>
            @if (m.HasStarted == true && m.HomeTeamScore > -1 && m.AwayTeamScore > -1)
            {
                <td>@m.HomeTeamScore.ToString() : @m.AwayTeamScore.ToString()</td>            
            }
            else
            {
                <td>- : -</td>            
            }

            <td>
            @if (m.HomeTeamOdds.HasValue && m.DrawOdds.HasValue && m.AwayTeamOdds.HasValue)
            {
                @(string.Format("{0:0.00} / {1:0.00} / {2:0.00}", m.HomeTeamOdds, m.DrawOdds, m.AwayTeamOdds))
            }
            else
            {
                @Html.Raw("- / - / -")
            }

            </td>
        
            @if (m.HasStarted == false && m.IsFinished == false)
            {
                if (m.HomeTeamOdds.HasValue && m.DrawOdds.HasValue && m.AwayTeamOdds.HasValue)
                {
                    <td>
                        @Html.RadioButton("rb" + m.MatchId.ToString(), "{ " + String.Format("\"id\" : {0}, \"tip\" : \"{1}\", \"odds\" : {2}", m.MatchId, 1, m.HomeTeamOdds) + " }", (m.MyTip.HasValue) ? (m.MyTip.Value == 1) ? true : false : false)
                    </td>       
                    <td>
                        @Html.RadioButton("rb" + m.MatchId.ToString(), "{ " + String.Format("\"id\" : {0}, \"tip\" : \"{1}\", \"odds\" : {2}", m.MatchId, 0, m.DrawOdds) + " }", (m.MyTip.HasValue) ? (m.MyTip.Value == 0) ? true : false : false)
                    </td>       
                    <td>
                        @Html.RadioButton("rb" + m.MatchId.ToString(), "{ " + String.Format("\"id\" : {0}, \"tip\" : \"{1}\", \"odds\" : {2}", m.MatchId, 2, m.AwayTeamOdds) + " }", (m.MyTip.HasValue) ? (m.MyTip.Value == 2) ? true : false : false)
                    </td>
                }
                else
                {
                    if (m.MyTip == 1)
                    {
                        <td>@m.MyTip.Value.ToString()</td><td>&nbsp;</td><td>&nbsp;</td>
                    }
                    else if (m.MyTip == 0)
                    {
                        <td>&nbsp</td><td>@m.MyTip.Value.ToString()</td><td>&nbsp;</td>
                    }
                    else if (m.MyTip == 2)
                    {
                        <td>&nbsp</td><td>&nbsp;</td><td>@m.MyTip.Value.ToString()</td>
                    }
                    else{
                         <td>-</td><td>-</td><td>-</td>
                    }
                }
            }
            else
            {
                if (m.MyTip == 1)
                {
                    <td>@m.MyTip.Value.ToString()</td><td>&nbsp;</td><td>&nbsp;</td>
                }
                else if (m.MyTip == 0)
                {
                    <td>&nbsp</td><td>@m.MyTip.Value.ToString()</td><td>&nbsp;</td>
                }
                else if (m.MyTip == 2)
                {
                    <td>&nbsp</td><td>&nbsp;</td><td>@m.MyTip.Value.ToString()</td>
                }
            }
                   
            <td>
                <span id='@("odds" + m.MatchId)'>
                @((m.MyOdds.HasValue) ? String.Format("{0:0.00}", m.MyOdds.Value) : "-")
                </span>
            </td>
            <td>
                @((m.MyPoints.HasValue) ? String.Format("{0:0.00}", m.MyPoints.Value) : "-")
            </td>
        </tr>
    }

    </table>
}
